<!DOCTYPE html>
<html lang="it-IT">

<head>
    <meta charset="utf-8">
</head>

<body>

    <div class="container">
    <div class="col-md-12 text-center">
        <img src="../img/ufficio.jpg">
    </div>
    <br>
    <div class="col-md-12 prev-title text-center">
        <h2>Preventivo N.173 del 2016-09-16</h2>
    </div>
    <br>
    <div class="col-md-12 text-center">
        <img src="../img/user/1463123704_demo_logo.png" class="littleimg">
        <h2 class="semititle">Cliente</h2>
        <p class="testo">A.I.L. Genova</p>
        <img src="../img/clienti/1461307451_ail.jpg" class="littleimg">
        <h2 class="semititle">Durata</h2>
        <p class="testo">1 anno</p>
    </div>
    <pagebreak>
    <table class="table">
        <tr>
            <td width="15%" valign="top"><img src="../img/clienti/1461307451_ail.jpg" class="littleimg2"></td>
            <td width="15%" valign="top"><img src="../img/user/1463123704_demo_logo.png" class="littleimg2"></td>
            <td width="30%"></td>
            <td width="40%" class="prevright">
                <b>Spettabile</b><br>
                A.I.L. Genova<br />
                                Via Majorana 28<br />
                                16148 Genova<br />
                                (ge)
            </td>
        </tr>
    </table>
    <div class="col-md-12 prev-title2 text-center">
        <h2>Preventivo N.173 del 2016-09-16<br />
                                Durata anni 1</h2>
    </div>
    <div class="col-md-12">
        <h2 class="semititle">Oggetto</h2>
        <p class="testo">Prova</p>
        <h2 class="semititle">Condizioni di Vendita</h2>
        <p class="testo"></p>
    </div>
    <pagebreak>
    <div class="col-md-12">
        <table class="table table-bordered custom_preventivo">
                <thead class="custom_preventivo">
                    <tr>
                        <th class="Descrizione col-md-6">Descrizione</th>
                        <th class="Quantità col-md-2">Quantità</th>
                        <th class="Prezzo col-md-2">Prezzo</th>
                        <th class="Prezzo_Mese col-md-2">Prezzo Mese</th>
                    </tr>
                </thead>
                <tbody><tr class="title">
                <td class="Descrizione_T">Manodopera</td>
                <td class="Quantità">Ore</td>
                <td class="Prezzo">N. Operatori</td>
                <td class="Prezzo_Mese">Prezzo Totale</td>
            </tr><tr class="detail">
                <td class="Descrizione_I">Capo cantiere (tariffa: Capo cantiere)</td>
                <td class="Quantità_I">396.414</td>
                <td class="Prezzo_I">5</td>
                <td class="Prezzo_Mese_I">28 €</td>
            </tr><tr class="detail">
                <td class="Descrizione_I">Capo cantiere (tariffa: Capo cantiere)</td>
                <td class="Quantità_I">218.537</td>
                <td class="Prezzo_I">2</td>
                <td class="Prezzo_Mese_I">28 €</td>
            </tr><tr class="title">
                <td class="Descrizione_T">Attrezzature</td>
                <td class="Quantità">Quantità</td>
                <td class="Prezzo"></td>
                <td class="Prezzo_Mese">Prezzo Totale</td>
            </tr><tr class="detail">
                <td class="Descrizione_I">Carrello di servizio</td>
                <td class="Quantità_I"></td>
                <td class="Prezzo_I"></td>
                <td class="Prezzo_Mese_I">170.00 €</td>
            </tr><tr class="detail">
                <td class="Descrizione_I">Cavo elettrico con avvolgitore</td>
                <td class="Quantità_I"></td>
                <td class="Prezzo_I"></td>
                <td class="Prezzo_Mese_I">25.00 €</td>
            </tr><tr class="detail">
                <td class="Descrizione_I">Guanti</td>
                <td class="Quantità_I"></td>
                <td class="Prezzo_I"></td>
                <td class="Prezzo_Mese_I">2.00 €</td>
            </tr><tr class="detail">
                <td class="Descrizione_I">Pannello segnalatore pavimento bagnato</td>
                <td class="Quantità_I"></td>
                <td class="Prezzo_I"></td>
                <td class="Prezzo_Mese_I">20.00 €</td>
            </tr><tr class="detail">
                <td class="Descrizione_I">Telaio MOP piano</td>
                <td class="Quantità_I"></td>
                <td class="Prezzo_I"></td>
                <td class="Prezzo_Mese_I">20.00 €</td>
            </tr><tr class="detail">
                <td class="Descrizione_I">Panno microfibra</td>
                <td class="Quantità_I"></td>
                <td class="Prezzo_I"></td>
                <td class="Prezzo_Mese_I">4.00 €</td>
            </tr><tr class="title">
                <td class="Descrizione_T">Materiali</td>
                <td class="Quantità">Quantità</td>
                <td class="Prezzo">Prezzo Unitario</td>
                <td class="Prezzo_Mese">Prezzo Totale</td>
            </tr><tr class="detail">
                <td class="Descrizione_I">Disco abrasivo verde</td>
                <td class="Quantità_I">1</td>
                <td class="Prezzo_I">12 €</td>
                <td class="Prezzo_Mese_I">12 €</td>
            </tr><tr class="detail">
                <td class="Descrizione_I">Frange di lavaggio</td>
                <td class="Quantità_I">706</td>
                <td class="Prezzo_I">9 €</td>
                <td class="Prezzo_Mese_I">6354 €</td>
            </tr><tr class="detail">
                <td class="Descrizione_I">Sacco filtro per aspirapolvere</td>
                <td class="Quantità_I">2351</td>
                <td class="Prezzo_I">6 €</td>
                <td class="Prezzo_Mese_I">14106 €</td>
            </tr><tr class="title">
                <td class="Descrizione_T">Macchinari</td>
                <td class="Quantità">Quantità</td>
                <td class="Prezzo">Prezzo Unitario</td>
                <td class="Prezzo_Mese">Prezzo Totale</td>
            </tr><tr class="detail">
                <td class="Descrizione_I">Aspirapolvere</td>
                <td class="Quantità_I">1</td>
                <td class="Prezzo_I">150 €</td>
                <td class="Prezzo_Mese_I">75 €</td>
            </tr><tr class="detail">
                <td class="Descrizione_I">Piatto trascinatore per monospazzola</td>
                <td class="Quantità_I">1</td>
                <td class="Prezzo_I">350 €</td>
                <td class="Prezzo_Mese_I">87.5 €</td>
            </tr><tr class="detail">
                <td class="Descrizione_I">Monospazzola bassa velocità</td>
                <td class="Quantità_I">1</td>
                <td class="Prezzo_I">2000 €</td>
                <td class="Prezzo_Mese_I">250 €</td>
            </tr><tr class="detail">
                <td class="Descrizione_I">Macchina spazzatrice</td>
                <td class="Quantità_I">1</td>
                <td class="Prezzo_I">6000 €</td>
                <td class="Prezzo_Mese_I">1200 €</td>
            </tr><tr class="title">
                <td class="Descrizione_T">Prodotti</td>
                <td class="Quantità">Quantità</td>
                <td class="Prezzo">Prezzo Unitario</td>
                <td class="Prezzo_Mese">Prezzo Totale</td>
            </tr><tr class="detail">
                <td class="Descrizione_I">ONDA</td>
                <td class="Quantità_I">212</td>
                <td class="Prezzo_I">3.53 €</td>
                <td class="Prezzo_Mese_I">749.14 €</td>
            </tr><tr class="detail">
                <td class="Descrizione_I">ONDAKLOR</td>
                <td class="Quantità_I">5658</td>
                <td class="Prezzo_I">3.14 €</td>
                <td class="Prezzo_Mese_I">17764.60 €</td>
            </tr><tr class="detail">
                <td class="Descrizione_I">STRAIK N.R.</td>
                <td class="Quantità_I">22</td>
                <td class="Prezzo_I">5.77 €</td>
                <td class="Prezzo_Mese_I">125.21 €</td>
            </tr><tr class="detail">
                <td class="Descrizione_I">altro costo aggiunto</td>
                <td class="Quantità_I">5</td>
                <td class="Prezzo_I">15 €</td>
                <td class="Prezzo_Mese_I">75 €</td>
            </tr></tbody>
            <tfoot><tr class="grandtotal">
                <td class="Descrizione"></td>
                <td class="Quantità">Totale Generale</td>
                <td class="Prezzo"> €</td>
                <td class="Prezzo_Mese"> €</td>
            </tr><tr class="grandtotal">
                <td class="Descrizione"></td>
                <td class="Quantità">a MQ</td>
                <td class="Prezzo"> €</td>
                <td class="Prezzo_Mese"> €</td>
            </tr>
            </tfoot>
            </table>
        </div>        
    </div>

</body>

</html>