<div class="col-md-12 text-center">
    {{headerimg}}
</div>
<br>
<div class="col-md-12 prev-title text-center">
    <h2>{{prevtitle}}</h2>
</div>
<br>
<div class="col-md-12 text-center">
    {{previcon}}
    <h2 class="semititle">{{cliente}}</h2>
    <p class="testo">{{clientename}}</p>
    {{clienteicon}}
    <h2 class="semititle">{{durata}}</h2>
    <p class="testo">{{durataprev}}</p>
</div>
<pagebreak>
<table class="table">
    <tr>
        <td width="15%" valign="top">{{clienteicon2}}</td>
        <td width="15%" valign="top">{{previcon2}}</td>
        <td width="30%"></td>
        <td width="40%" class="prevright">
            <b>{{spettabile}}</b><br>
            {{address}}
        </td>
    </tr>
</table>
<div class="col-md-12 prev-title2 text-center">
    <h2>{{prevtitle2}}</h2>
</div>
<div class="col-md-12">
    <h2 class="semititle">{{oggetto}}</h2>
    <p class="testo">{{prevoggetto}}</p>
    <h2 class="semititle">{{condvendita}}</h2>
    <p class="testo">{{cvendita}}</p>
</div>
<pagebreak>
<div class="col-md-12">
    {{table}}
</div>