<table class="table table-bordered custom_preventivo">
    <thead class="custom_preventivo">
        <tr>
            <th class="Descrizione col-md-6">Descrizione</th>
            <th class="Quantità col-md-2">Quantità</th>
            <th class="Prezzo col-md-2">Prezzo</th>
            <th class="Prezzo_Mese col-md-2">Prezzo Mese</th>
        </tr>
    </thead>
    <tbody>
        <tr class="title">
            <td class="Descrizione_T">Manodopera</td>
            <td class="Quantità"></td>
            <td class="Prezzo"></td>
            <td class="Prezzo_Mese"></td>
        </tr>
        <tr class="detail">
            <td class="Descrizione_I">Operatore Base</td>
            <td class="Quantità_I">100 H</td>
            <td class="Prezzo_I">12,00 €</td>
            <td class="Prezzo_Mese_I">1,00 €</td>
        </tr>
        <tr class="subtotal">
            <td class="Descrizione_st">Totale Manodopera</td>
            <td class="Quantità_st"></td>
            <td class="Prezzo_st">1.200,00 €</td>
            <td class="Prezzo_Mese_st">100,00 €</td>
        </tr>
        <tr class="title">
            <td class="Descrizione_T">Manodopera</td>
            <td class="Quantità"></td>
            <td class="Prezzo"></td>
            <td class="Prezzo_Mese"></td>
        </tr>
        <tr class="detail">
            <td class="Descrizione_I">Operatore Base</td>
            <td class="Quantità_I">100 H</td>
            <td class="Prezzo_I">12,00 €</td>
            <td class="Prezzo_Mese_I">1,00 €</td>
        </tr>
        <tr class="subtotal">
            <td class="Descrizione_st">Totale Manodopera</td>
            <td class="Quantità_st"></td>
            <td class="Prezzo_st">1.200,00 €</td>
            <td class="Prezzo_Mese_st">100,00 €</td>
        </tr>

        <tr class="cost_total">
            <td class="Descrizione_ct">Totale Costi</td>
            <td class="Quantità_ct"></td>
            <td class="Prezzo_ct">16.403,69 €</td>
            <td class="Prezzo_Mese_ct">1.366,97 €</td>
        </tr>

        <tr class="title">
            <td class="Descrizione_T">Manodopera</td>
            <td class="Quantità"></td>
            <td class="Prezzo"></td>
            <td class="Prezzo_Mese"></td>
        </tr>
        <tr class="detail">
            <td class="Descrizione_I">Operatore Base</td>
            <td class="Quantità_I">100 H</td>
            <td class="Prezzo_I">12,00 €</td>
            <td class="Prezzo_Mese_I">1,00 €</td>
        </tr>
        <tr class="subtotal">
            <td class="Descrizione_st">Totale Manodopera</td>
            <td class="Quantità_st"></td>
            <td class="Prezzo_st">1.200,00 €</td>
            <td class="Prezzo_Mese_st">100,00 €</td>
        </tr>

    </tbody>
    <tfoot>
        <tr class="grandtotal">
            <td class="Descrizione"></td>
            <td class="Quantità">Totale Generale</td>
            <td class="Prezzo">17.263,87 €</td>
            <td class="Prezzo_Mese">1,438.66 €</td>
        </tr>
        <tr class="grandtotal">
            <td class="Descrizione"></td>
            <td class="Quantità">a MQ</td>
            <td class="Prezzo">57.55 €</td>
            <td class="Prezzo_Mese">4.80 €</td>
        </tr>
    </tfoot>
</table>